/*variables*/
:root {
  --color-red: hsl(7, 99%, 70%);
  --color-yellow: hsl(51, 100%, 49%);
  --color-dark-cyan: hsl(167, 40%, 24%);
  --color-blue: hsl(198, 62%, 26%);
  --color-moderate-cyan: hsl(168, 34%, 41%);

  --color-dark-blue: hsl(212, 27%, 19%);
  --color-dark-grayish: hsl(210, 17%, 52%);
  --color-grayish-blue: hsl(232, 10%, 55%);
  --color-grayish: hsl(210, 4%, 67%);
  --color-white: hsl(0, 0%, 100%);

  --color-green: hsl(167, 44%, 70%);
  --color-white-background: hsl(26, 100%, 99%);
  --color-option-hover: hsl(200, 100%, 72%);
  --color-header: hsl(200, 100%, 62%);
}
/*normalize*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*root*/
html {
  font-size: 62.5%;
}
/*container page*/
body {
  max-width: 100vw;
  min-height: 100vh;

  font-family: "Barlow", sans-serif;
  /*font-family: "Fraunces", serif;*/
}

/*header page*/
.header-page {
  background-color: var(--color-header);
  background-image: url(../images/desktop/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;

  position: relative;

  height: 84rem;

  color: var(--color-white);
}
.header-page__title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 6.2rem;
  letter-spacing: 1rem;
}
/*nav page*/
.nav-page {
  display: flex;

  padding: 4rem;
  padding-bottom: 10rem;
}
.nav-page__box-logo {
  flex: 0 1 50%;
}
.nav-page__logo {
  width: 14rem;
}
.header-page__arrow {
  width: 4rem;
  position: absolute;
  bottom: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header-page__arrow--animation {
  animation-name: moveArrow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
}
@keyframes moveArrow {
  0% {
    transform: translate(-50%, -50%);
  }
  25% {
    transform: translate(-50%, -100%);
  }
  50% {
    transform: translate(-50%, -50%);
  }
  75% {
    transform: translate(-50%, 50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
/*menu layout block*/
.menu-layout {
  flex: 0 1 50%;
}
.menu-layout__image {
  display: none;
}
.menu-layout__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}
.menu-layout__figure {
  display: none;
}
.menu-layout__option {
  padding: 1.5rem 2.5rem;

  transition-duration: 0.5s;
}
.menu-layout__option--background {
  background-color: var(--color-white);

  margin-left: 2rem;

  border-radius: 5rem;
}
.menu-layout__option:hover {
  transform: scale(1.2);
  color: var(--color-dark-blue);
}
.menu-layout__option--background:hover {
  background-color: var(--color-option-hover);
}
.menu-layout__link-option {
  text-decoration: none;
  color: inherit;
  font-size: 1.8rem;
  font-weight: 600;
}
.menu-layout__link-option--text {
  color: var(--color-dark-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.menu-layout__option--background:hover .menu-layout__link-option {
  color: var(--color-white);
}
/*presentation page section*/
.presentation-page {
  display: grid;

  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
}
/*box text block*/
.presentation-text {
  background-color: var(--color-white-background);

  padding: 16rem;
  padding-right: 10rem;
}
.presentation-text:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
.presentation-text__title {
  font-family: "Fraunces", serif;
  font-size: 4.8rem;
  font-weight: 900;

  margin-bottom: 4rem;

  transition-duration: 0.5s;
}
.presentation-text__title:hover {
  transform: scale(1.2);
}
.presentation-text__text {
  font-size: 2rem;
  line-height: 3rem;
  color: var(--color-grayish-blue);

  margin-bottom: 4rem;
}
.presentation-text__link {
  position: relative;

  text-transform: uppercase;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: #000000;

  margin-left: 1rem;

  z-index: 100;
}
.presentation-text__link--after-yellow:after {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: -0.2rem;
  width: 16rem;
  border-bottom: 1rem solid var(--color-yellow);
  border-radius: 2rem;

  opacity: 0.3;

  z-index: -10;

  transition-duration: 0.4s;
}
.presentation-text__link--after-red:after {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: -0.2rem;
  width: 16rem;
  border-bottom: 1rem solid var(--color-red);
  border-radius: 2rem;

  opacity: 0.3;

  z-index: -10;

  transition-duration: 0.4s;
}
.presentation-text__link--after-red:hover:after {
  opacity: 1;
}
.presentation-text__link--after-yellow:hover:after {
  opacity: 1;
}
/*box image block*/
.presentation-image {
  background-image: url(../images/desktop/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.presentation-image:nth-child(4) {
  background-image: url(../images/desktop/image-stand-out.jpg);
}
/*box text image*/
.presentation-text-image {
  background-image: url(../images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;

  padding: 8rem 16rem;
  padding-top: 40rem;

  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  color: var(--color-moderate-cyan);
}
.presentation-text-image:nth-child(6) {
  background-image: url(../images/desktop/image-photography.jpg);
  color: var(--color-blue);
}
.presentation-text-image__title {
  font-size: 3.2rem;
  font-family: "Fraunces", serif;

  margin-bottom: 2rem;

  transition-duration: 0.5s;
}
.presentation-text-image__title:hover {
  transform: scale(1.2);
}
.presentation-text-image__text {
  font-size: 2rem;
}
/*testimonials section*/
.section-testimonials {
  background-color: var(--color-white-background);

  padding: 14rem 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.section-testimonials__title {
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  color: var(--color-grayish);

  margin-bottom: 6rem;
}
.section-testimonials__content {
  display: inline-block;
}
/*testimonial*/
.testimonial {
  display: inline-block;
  max-width: 35rem;

  text-align: center;
}
.testimonial--margin {
  margin: 0 6rem;
}
.testimonial__box-image {
  padding: 2rem;
}
.testimonial__image {
  display: block;
  width: 6rem;

  margin: auto;

  border-radius: 100%;

  transition-duration: 0.5s;
}
.testimonial__image:hover {
  transform: scale(1.8);
}
.testimonial__text {
  color: var(--color-grayish-blue);
  font-size: 1.8rem;
  line-height: 2.8rem;

  margin: 4rem 0;
}
.testimonial__name {
  color: var(--color-blue);
  font-family: "Fraunces", serif;
  font-size: 1.6rem;
  font-weight: 900;

  margin-bottom: 1rem;

  transition-duration: 0.5s;
}
.testimonial__name:hover {
  transform: scale(1.5);
}
.testimonial__job {
  color: var(--color-grayish);
  font-size: 1.4rem;
}
/*footer page*/
.footer-page {
  background-color: var(--color-green);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-bottom: 2rem;
}
.footer-page__box-images {
  display: flex;
}
.footer-page__image {
  display: block;

  flex: 0 1 25%;
  width: 25%;
}
.footer-page__logo {
  width: 12rem;

  filter: invert(29%) sepia(38%) saturate(493%) hue-rotate(116deg)
    brightness(60%) contrast(97%);

  margin-top: 6rem;
  margin-bottom: 3rem;
}
.footer-page__list {
  display: flex;

  list-style: none;

  margin-bottom: 4rem;
}
.footer-page__option--margin {
  margin: 0 4rem;
}
.footer-page__link {
  color: var(--color-moderate-cyan);
  font-size: 1.2rem;
  text-decoration: none;
}
.footer-page__option:hover .footer-page__link {
  color: var(--color-white);
}
/*social network section*/
.footer-page__social-network {
  display: flex;
  justify-content: center;

  margin-top: 1rem;
  margin-bottom: 2rem;
}
.social-network {
  display: inline-block;
  padding: 0.6rem;

  border: 0.2rem solid var(--color-gray-opacity);
  border-radius: 100%;
}
.social-network--margin {
  margin-right: 1rem;
}
.social-network__image {
  display: block;

  width: 1.4rem;
}
.social-network:hover .social-network__image {
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 2600px) {
  /*component*/
  html {
    font-size: 104.5%;
  }
}
@media screen and (max-width: 1800px) {
  /*component*/
  html {
    font-size: 73.5%;
  }
}
@media screen and (max-width: 1680px) {
  /*component*/
  html {
    font-size: 68.5%;
  }
}

@media screen and (max-width: 1440px) {
  /*component*/
  html {
    font-size: 58.5%;
  }
}
@media screen and (max-width: 1370px) {
  /*component*/
  html {
    font-size: 55.5%;
  }
}
@media screen and (max-width: 1024px) {
  /*component*/
  html {
    font-size: 41.5%;
  }
}
@media screen and (max-width: 800px) {
  /*component*/
  html {
    font-size: 32.5%;
  }
}
@media screen and (max-width: 768px) {
  /*component*/
  html {
    font-size: 31.5%;
  }
}
@media screen and (max-width: 600px) {
  /*component*/
  html {
    font-size: 62.5%;
  }
  /*header page*/
  .header-page {
    background-size: 200vw;
  }
  .header-page__title {
    font-size: 6.2rem;
    height: 63rem;
  }
  .header-page__arrow {
    width: 5rem;
    bottom: 16%;
  }
  /*nav page*/
  .nav-page {
    padding: 4rem;
    padding-bottom: 8rem;

    position: relative;
  }
  /*menu layout block*/
  .menu-layout {
    flex: 0 1 50%;
  }
  .menu-layout__image {
    display: block;

    float: right;
  }
  .menu-layout__list {
    background-color: var(--color-white-background);

    flex-direction: column;

    width: calc(100% - 8rem);

    position: absolute;
    top: 12rem;
    left: 4rem;

    padding: 6rem 0;

    z-index: 100;

    opacity: 0;
    transition-duration: 0.5s;
  }
  .menu-layout__list--hidden {
    display: none;
    opacity: 0;
  }
  .menu-layout__list--animation {
    animation-name: showMenu;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes showMenu {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .menu-layout__figure {
    display: block;
    background-color: var(--color-white-background);

    position: absolute;
    width: 4.5rem;
    height: 4.5rem;

    top: -3.5rem;
    right: 0;

    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    z-index: 50;
  }
  .menu-layout__option {
    padding: 3rem 4rem;
  }
  .menu-layout__option {
    margin: 0;
  }
  .menu-layout__link-option {
    font-size: 3.6rem;
    color: var(--color-dark-grayish);
  }
  .menu-layout__link-option--text {
    color: #000000;
    font-size: 3rem;
  }
  .menu-layout__option--background {
    background-color: var(--color-yellow);
  }
  /*presentation page section*/
  .presentation-page {
    grid-template-columns: 100%;
    grid-template-rows: repeat(6, max-content);
  }
  .presentation-text:nth-child(1) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .presentation-text:nth-child(2) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  .presentation-image:nth-child(3) {
    height: 50rem;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .presentation-image:nth-child(4) {
    height: 50rem;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  /*box text block*/
  .presentation-text {
    padding: 12rem 4rem;

    text-align: center;
  }
  .presentation-text__title {
    font-size: 5.2rem;
  }
  .presentation-text__text {
    font-size: 2.8rem;
    line-height: 4rem;
  }
  .presentation-text__link {
    font-size: 2.3rem;
  }
  .presentation-text__link--after-yellow:after {
    left: -1.2rem;
    width: 19rem;
  }
  .presentation-text__link--after-red:after {
    left: -1.2rem;
    width: 19rem;
  }
  /*text image section*/
  .presentation-text-image {
    background-size: 200vw;
    padding: 8rem 2rem;
    padding-top: 65rem;
  }
  .presentation-text-image__title {
    font-size: 4.8rem;
  }
  .presentation-text-image__text {
    font-size: 2.6rem;
  }
  /*footer page*/
  .footer-page__box-images {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
  }
  /*testimonials section*/
  .section-testimonials {
    padding: 8rem 4rem;
  }
  .section-testimonials__title {
    font-size: 2.4rem;
  }
  .section-testimonials__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /*testimonial*/
  .testimonial {
    display: block;
    max-width: 100%;
  }
  .testimonial--margin {
    margin: 8rem 0;
  }
  .testimonial__box-image {
    padding: 2rem;
  }
  .testimonial__image {
    width: 10rem;
  }
  .testimonial__text {
    font-size: 2.9rem;
    line-height: 4rem;
  }
  .testimonial__name {
    font-size: 2.4rem;
  }
  .testimonial__job {
    font-size: 1.8rem;
  }
  /*footer page*/
  .footer-page {
    padding-bottom: 10rem;
  }
  .footer-page__image {
    display: block;

    flex: 0 1 50%;

    width: 50%;
    height: 50vw;

    object-fit: cover;
  }
  .footer-page__logo {
    width: 26rem;

    margin: 8rem 0;
  }
  .footer-page__list {
    display: flex;

    list-style: none;

    margin-bottom: 8rem;
  }
  .footer-page__option--margin {
    margin: 0 10rem;
  }
  .footer-page__link {
    font-size: 2.6rem;
  }
  /*social network section*/
  .footer-page__social-network {
    display: flex;
    justify-content: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .social-network--margin {
    margin-right: 4rem;
  }
  .social-network__image {
    width: 2.4rem;
  }
}
@media screen and (max-width: 540px) {
  /*component*/
  html {
    font-size: 58.5%;
  }
}
@media screen and (max-width: 426px) {
  /*component*/
  html {
    font-size: 45.5%;
  }
}
@media screen and (max-width: 412px) {
  /*component*/
  html {
    font-size: 44.5%;
  }
}
@media screen and (max-width: 376px) {
  /*component*/
  html {
    font-size: 40.5%;
  }
}
@media screen and (max-width: 360px) {
  /*component*/
  html {
    font-size: 38.5%;
  }
}
@media screen and (max-width: 320px) {
  /*component*/
  html {
    font-size: 34.5%;
  }
}
@media screen and (max-width: 280px) {
  /*component*/
  html {
    font-size: 29.5%;
  }
}
